.margin-top-bottom {
	margin: 2rem 0;
}

.text-center {
	text-align: center;
}

.d-block {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.flex-end {
	display: flex;
	justify-content: end;
	align-items: center;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-direction: row;
	align-items: center;
}

.header .search-input {
	width: 80%;
}

.header .add-button {
	width: 20%;
}
